@model VideoGameSellers.ASP.Models.SaleModel

@{ 
    ViewDataDictionary opinionData = new ViewDataDictionary(ViewData) {
        { "Id", Model.Id },
        { "Controller", "Sale" }
    };
}

<div class="d-flex align-Models-center mt-2 list rounded">
    @if (Model.Pictures.Count() > 0)
    {
        <img src="~/@Model.Pictures.First().Url" class="listImage" />
    }
    <div class="ml-2">
        <h4 class="m-0">@Model.Title</h4>
        <p class="m-0">Par @Model.User.Username</p>
        @if (Model.Type == VideoGameSellers.ASP.Models.Enum.SaleType.Buy)
        {
            <p class="m-0">Peut être acheter a un prix de @Model.Price€</p>
        }
        else
        {
            <p class="m-0">Enchéri a @Model.Price€</p>
        }
        <p class="m-0">@Model.Description</p>
        <p class="m-0">@Model.PublishedAt.ToLocalTime()</p>
        <div class="d-flex justify-content-between">
            @Html.ActionLink("See more", "Single", "Sale", new { Id = Model.Id })
            <partial name="OpinionView" model="Model.Opinions" view-data="opinionData" />
        </div>
    </div>
</div>